
.fade-enter {
  -webkit-animation-name: _vfadeIn;
          animation-name: _vfadeIn;
}
.fade-leave {
  -webkit-animation-name: _vfadeOut;
          animation-name: _vfadeOut;
}
.fade-up-enter {
  -webkit-animation-name: _vfadeUpIn;
          animation-name: _vfadeUpIn;
}
.fade-up-leave {
  -webkit-animation-name: _vfadeUpOut;
          animation-name: _vfadeUpOut;
}
.fade-down-enter {
  -webkit-animation-name: _vfadeDownIn;
          animation-name: _vfadeDownIn;
}
.fade-down-leave {
  -webkit-animation-name: _vfadeDownOut;
          animation-name: _vfadeDownOut;
}

/* Fade */
@-webkit-keyframes _vfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes _vfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes _vfadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes _vfadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fade Up */
@-webkit-keyframes _vfadeUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes _vfadeUpIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes _vfadeUpOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}
@keyframes _vfadeUpOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
}

/* Fade Down */
@-webkit-keyframes _vfadeDownIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@keyframes _vfadeDownIn {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}
@-webkit-keyframes _vfadeDownOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}
@keyframes _vfadeDownOut {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
}